@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Windows-Regular";
  src: url("assets/fonts/Windows Regular.ttf") format("truetype");
}

body {
  font-family: "Microsoft Sans Serif", "Windows-Regular", sans-serif;
  background-color: #c0c0c0;
  color: #000000;
  cursor: url("/cursor.png"), auto;
}


a:hover,
button:hover,
input[type="button"]:hover,
select:hover,
[role="button"]:hover,
[role="link"]:hover {
  cursor: url("/cursor_hover.png"), pointer;
}

