@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Windows-Regular";
  src: url("assets/fonts/Windows Regular.ttf") format("truetype");
}

body {
  font-family: "Microsoft Sans Serif", "Windows-Regular", sans-serif;
  color: #000000;
  cursor: url("/cursor.png"), auto;
  background-image: url("/desktopBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover,
button:hover,
input[type="button"]:hover,
select:hover,
[role="button"]:hover,
[role="link"]:hover {
  cursor: url("/cursor_hover.png"), pointer;
}
.smallWindows {
  width: 400px;
  height: 300px;
  background-color: #c7c9c8;
  border: 3px solid #ffffff;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #7a7a7a;
  border-right-color: #7a7a7a;
  box-shadow: inset -1px -1px 1px #ffffff, inset 1px 1px 1px #7a7a7a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}